{% extends 'base.html.twig' %}

{% block main %}
    <!-- Hero -->

    <section class="relative flex content-center items-center h-[100vh]">
        <div class="w-full h-full bg-center bg-cover absolute bg-[url('/images/hero.jpg')]">
            <span class="w-full h-full absolute opacity-75 bg-brand-secondary"></span>
        </div>
        <div class="container mx-auto relative px-8 py-16 lg:py-24">
            <div class="flex flex-wrap items-center w-full md:w-2/3 lg:w-1/3">
                <div class="text-white">
                    <h1 class="text-4xl font-semibold leading-tight mb-8 md:mb-16">
                        <span class="text-brand-primary">Du hast die Vision.</span><br/>
                        Wir machen sie greifbar.
                    </h1>
                    <div class="text-2xl">
                        <p class="mb-4 md:mb-8">
                            Individueller 3D-Druck-Service und handgemachte Produkte: Kompetent, zeitnah, bezahlbar.
                        </p>
                        <p>
                            Nicht nur <span class="italic">ausgedruckt</span>.<br/>
                            <span class="font-semibold"><span class="text-brand-primary">kraus</span><span class="text-white">gedruckt.</span></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full absolute top-auto bottom-0 left-0 right-0 overflow-hidden h-[100px] mb-[-1px]">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="fill-background-primary" points="2560,0 2560,100 0,100"></polygon>
            </svg>
        </div>
    </section>

    <!-- Introduction -->

    <section class="bg-background-primary relative">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <div class="flex flex-wrap items-start">
                <div class="w-full md:w-6/12">
                    <h3 class="text-2xl font-semibold text-brand-primary mb-4">
                        Unser Angebot?<br/>
                        <span class="text-brand-secondary">Vielschichtig.</span>
                    </h3>
                    <div class="text-base">
                        <p class="mb-4">Mit unserem 3D-Druck-Service bieten wir dir ein umfassendes Angebot für die additive Fertigung von Bauteilen. Wir bringen dein 3D-Modell in die Realität!</p>
                        <p class="mb-4">Dabei langweilen wir dich weder mit Materialschlachten, noch hauen wir dir Fachbegriffe um die Ohren. Du sagst uns, wofür du dein gewünschtes Teil benötigst und wir empfehlen dir das passende Material. Egal ob du anschließend ein, zehn oder hundert Ausdrucke benötigst — es gibt keine Mindestabnahmemenge.</p>
                        <p>Neben diesem ganz auf deine individuellen Wünsche zugeschnittenen Service werden wir in Zukunft auch handverlesene Produkte zum Direktkauf anbieten. Du wählst nur das gewünschte Produkt, legst Menge und Farbe fest und wir (und der Drucker) legen los!</p>
                    </div>
                </div>
                <div class="w-full md:w-5/12 lg:w-4/12 mt-8 md:mt-0 md:mx-auto">
                    <div class="w-full flex flex-col min-w-0 break-words bg-white mb-4 shadow-lg rounded-xl">
                        <img class="w-full align-middle rounded-t-lg" src="/images/printhead.jpg" />
                        <blockquote class="relative text-base p-8">
                            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                                <polygon points="-30,95 583,95 583,65" class="fill-white"></polygon>
                            </svg>
                            <h4 class="font-semibold mb-4">
                                <span class="text-brand-primary">Made in Europe.</span><br/>
                                <span class="text-brand-secondary">Hohe Qualität garantiert hohe Qualität.</span>
                            </h4>
                            <p>
                                Wir setzen ausschließlich in Europa gefertigte Drucker und Materialien ein. Unsere Drucker kommen vom Marktführer, der Firma Prusa Research (Tschechische Republik), unser Filament aus Deutschland (oder, je nach Material, ebenfalls von Prusa Research).
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full absolute top-auto bottom-0 left-0 right-0 overflow-hidden h-[100px] mb-[-1px]">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-white fill-current" points="2560,0 2560,100 0,100"></polygon>
            </svg>
        </div>
    </section>

    <!-- Team -->

    <section class="bg-white relative">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <h2 class="text-2xl font-semibold text-brand-primary mb-4">
                Wer wir sind?<br/>
                <span class="text-brand-secondary">tl;dr: Ein Familienbetrieb.</span>
            </h2>
            <div class="flex flex-wrap items-start">
                <div class="w-full md:w-1/2">
                    <p class="mb-4">Nachdem Marcel Mitte 2022 seinen ersten 3D-Drucker angeschafft hat, gab es für ihn kein Halten mehr. Der Drucker lief rund um die Uhr, druckte Ersatzteile für Oldtimer, Deko-Artikel, Werkzeuge und vieles mehr.</p>
                    <p class="mb-4">Mit über zwanzig Jahren Erfahrung als selbständiger Software-Entwickler war auch der weitere Weg schnell klar und die Idee für <span class="font-semibold"><span class="text-brand-primary">kraus</span><span class="text-brand-secondary">gedruckt</span></span> geboren.</p>
                    <p class="mb-4"> Mit Manuela hatte Marcel bereits vor vielen Jahren seine große Liebe gefunden — und nun eine motivierte Unterstützerin seiner vielen Ideen.</p>
                    <p>Familienhund Lucky bringt uns täglich gute Laune, passt auf die Drucker auf und sorgt dafür, dass Marcel auch mal an die frische Luft kommt.</p>
                </div>
                <div class="flex flex-wrap justify-center w-full md:w-1/2 mt-8 md:mt-0">
                    <div class="w-full md:w-1/2 lg:w-1/3 px-32 md:px-8 mb-4 lg:mb-0">
                        <img src="/images/marcel.jpg" class="shadow-lg rounded-full" alt="Marcel Kraus" />
                        <div class="pt-4 text-center text-2xl">
                            <h5 class="font-semibold">Marcel</h5>
                            <p>Print Guy</p>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 px-32 md:px-8 mb-4 lg:mb-0">
                        <img src="/images/manuela.jpg" class="shadow-lg rounded-full" alt="Manuela Kraus" />
                        <div class="pt-4 text-center text-2xl">
                            <h5 class="font-semibold">Manuela</h5>
                            <p>Support Girl</p>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 px-32 md:px-8">
                        <img src="/images/lucky.jpg" class="shadow-lg rounded-full" alt="Prinz Lukas von Plüsch" />
                        <div class="pt-4 text-center text-2xl">
                            <h5 class="font-semibold">Lucky</h5>
                            <p>Good Boy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full absolute top-auto bottom-0 left-0 right-0 overflow-hidden h-[100px] mb-[-1px]">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-brand-primary fill-current" points="2560,0 2560,100 0,100"></polygon>
            </svg>
        </div>
    </section>

    <!-- Contact -->

    <section class="bg-brand-primary relative">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <div class="flex justify-center">
                <div class="w-full lg:w-1/2 flex shadow-xl rounded-xl bg-background-primary">
                    {{ form_start(contactForm, { 'attr': { 'class': 'flex-auto p-8 text-primary' } }) }}
                        <h4 class="text-2xl font-semibold text-brand-primary mb-4">
                            Interesse geweckt?<br/>
                            <span class="text-brand-secondary">Jetzt anfragen.</span>
                        </h4>
                        <p class="mb-4">Du hast Bock auf Druck? Dann nutze unser Kontaktformular, um uns schnell und einfach anzusprechen. Deine Anfrage ist natürlich unverbindlich und mit keinerlei Kosten verbunden.</p>
                        <p class="mb-4">Falls du lieber E-Mails schreibst: Du erreichst uns unter <span class="font-semibold">hallo(at)krausgedruckt.de</span>.</p>
                        {{  form_errors(contactForm) }}
                        {{ form_row(contactForm.name, { 'row_class': 'w-full mb-2', 'widget_class': 'w-full placeholder-placeholder border-0 px-4 py-2 bg-white rounded-xl shadow focus:ring-0' }) }}
                        {{ form_row(contactForm.email, { 'row_class': 'w-full mb-2', 'widget_class': 'w-full placeholder-placeholder border-0 px-4 py-2 bg-white rounded-xl shadow focus:ring-0' }) }}
                        {{ form_row(contactForm.message, { 'row_class': 'w-full mb-4', 'widget_class': 'w-full placeholder-placeholder border-0 px-4 py-2 bg-white rounded-xl shadow focus:ring-0' }) }}
                        <div class="text-right mb-4">
                            {{ form_widget(contactForm.submit, { 'attr': {  'class': 'text-brand-primary font-semibold px-4 py-2 border-2 border-current hover:text-white hover:border-brand-primary hover:bg-brand-primary rounded-xl shadow' } }) }}
                        </div>
                        {{ form_rest(contactForm) }}
                    {{ form_end(contactForm) }}
                </div>
            </div>
        </div>
        <div class="w-full absolute top-auto bottom-0 left-0 right-0 overflow-hidden h-[100px] mb-[-1px]">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-brand-secondary fill-current" points="2560,0 2560,100 0,100"></polygon>
            </svg>
        </div>
    </section>
{% endblock %}
