<nav class="bg-white">
    <div class="container mx-auto p-8 flex flex-row items-center justify-items-end">
        <div class="flex-none">
            <a href="{{ path('app_homepage') }}">
                <h1 class="hidden">krausgedruckt: 3D-Druck-Service in Erftstadt</h1>
                <img src="/images/krausgedruckt-logo.png" class="h-16 max-h-16 md:h-24 md:max-h-24" alt="Logo von krausgedruckt, dem 3D-Druck-Service in Erftstadt" />
            </a>
        </div>
        <div class="flex-auto">
            <div class="block lg:hidden">
                <div class="flex justify-end">
                    <a class="cursor-pointer px-4 py-2 border border-brand-secondary hover:border-brand-primary text-brand-secondary hover:text-brand-primary rounded-md" type="button" onclick="toggleNavbar()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5" id="navbar-icon-open">
                            <path fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 hidden" id="navbar-icon-close">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="hidden lg:block">
                <div class="flex justify-end gap-2 uppercase text-sm">
                    <a class="border px-4 py-2 rounded-md {% if app.request.attributes.get('_route') == "app_homepage" %}text-white border-brand-primary bg-brand-primary{% else %}text-brand-secondary hover:text-brand-primary border-brand-secondary hover:border-brand-primary{% endif %}" href="{{ path('app_homepage') }}">Über uns</a>
                    <a class="border px-4 py-2 rounded-md text-brand-secondary hover:text-brand-primary border-brand-secondary hover:border-brand-primary" href="{{ path('app_homepage') }}#kontakt">Kontakt</a>
                    <a class="border px-4 py-2 rounded-md {% if app.request.attributes.get('_route') == "app_reference" %}text-white border-brand-primary bg-brand-primary{% else %}text-brand-secondary hover:text-brand-primary border-brand-secondary hover:border-brand-primary{% endif %}" href="{{ path('app_reference') }}">Referenzen</a>
                    <a class="border px-4 py-2 rounded-md {% if app.request.attributes.get('_route') == "app_questions" %}text-white border-brand-primary bg-brand-primary{% else %}text-brand-secondary hover:text-brand-primary border-brand-secondary hover:border-brand-primary{% endif %}" href="{{ path('app_questions') }}">Häufig gestellte Fragen</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-8 pb-4 hidden" id="navbar-menu">
        <hr class="border-background-secondary mb-4" />
        <ul class="flex flex-row justify-end gap-4 list-none uppercase text-sm font-semibold">
            <li class="items-center">
                <a class="text-brand-secondary hover:text-brand-primary mb-4" href="{{ path('app_homepage') }}">Über uns</a>
            </li>
            <li class="items-center">
                <a class="text-brand-secondary hover:text-brand-primary mb-4" href="{{ path('app_homepage') }}#kontakt">Kontakt</a>
            </li>
            <li class="flex items-center">
                <a class="text-brand-secondary hover:text-brand-primary" href="{{ path('app_reference') }}">Referenzen</a>
            </li>
            <li class="flex items-center">
                <a class="text-brand-secondary hover:text-brand-primary" href="{{ path('app_questions') }}">Häufig gestellte Fragen</a>
            </li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
    function toggleNavbar() {
        document.getElementById('navbar-menu').classList.toggle('hidden');
        document.getElementById('navbar-icon-open').classList.toggle('hidden');
        document.getElementById('navbar-icon-close').classList.toggle('hidden');
    }
</script>
