{% extends 'base.html.twig' %}

{% block title %}
    Kontakt ▪ {{  parent() }}
{% endblock %}

{% block main %}
    <section class="bg-background-secondary">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <div class="mx-auto max-w-2xl lg:max-w-4xl">
                <h2 class="font-semibold mb-8 text-4xl text-brand-primary lg:mb-12">
                    Wer druckt ist doof.<br/>
                    <span class="text-brand-secondary">Nicht.</span>
                </h2>
                {{ form_start(contactForm) }}
                <p class="mb-4">Nutze das nachfolgende Kontaktformular, um mich schnell und einfach anzusprechen. Deine Anfrage ist natürlich unverbindlich und mit keinerlei Kosten verbunden.</p>
                <p class="mb-8">Tipp: Falls du keine Kontaktformulare magst, erreichst du mich auch <a class="hover:underline text-brand-primary" href="{{ path('app_contact_email') }}">per E-Mail</a> oder <a class="hover:underline text-brand-primary" href="{{ path('app_contact_whats_app') }}">per WhatsApp</a>.</p>
                {{  form_errors(contactForm) }}
                {{ form_row(contactForm.name, { 'row_class': 'mb-2 w-full', 'widget_class': 'bg-white border-0 focus:ring-0 placeholder-placeholder px-4 py-2 rounded-xl shadow w-full' }) }}
                {{ form_row(contactForm.email, { 'row_class': 'mb-2 w-full', 'widget_class': 'bg-white border-0 focus:ring-0 placeholder-placeholder px-4 py-2 rounded-xl shadow w-full' }) }}
                {{ form_row(contactForm.message, { 'row_class': 'mb-8 w-full', 'widget_class': 'bg-white border-0 focus:ring-0 placeholder-placeholder px-4 py-2 rounded-xl shadow w-full' }) }}
                <div class="mb-4 text-right">
                    {{ form_widget(contactForm.submit, { 'attr': {  'class': 'border-2 border-current font-semibold hover:bg-brand-primary hover:border-brand-primary hover:text-white px-4 py-2 rounded-xl shadow text-brand-primary' } }) }}
                </div>
                {{ form_rest(contactForm) }}
                {{ form_end(contactForm) }}
            </div>
        </div>
    </section>
{% endblock %}