{% extends 'base.html.twig' %}

{% block title %}
Impressum | {{  parent() }}
{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block main %}
    <section class="bg-brand-primary">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <div class="flex justify-center">
                <div class="bg-background-primary hover:prose-a:underline max-w-none mshadow-xl p-8 prose prose-a:no-underline prose-a:text-brand-primary prose-h2:text-brand-primary prose-headings:text-primary prose-p:text-primary rounded-xl w-full lg:w-2/3 xl:w-1/2">
                    <h2 class="text-brand-primary">Impressum</h2>
                    <p>Stand: 17. Oktober 2025</p>
                    <p>Die folgenden Adressinformationen werden nur aus Gründen der Rechtssicherheit gegeben. Jeglicher Missbrauch wird entsprechend geahndet.</p>
                    <h3>Diensteanbieter</h3>
                    <p>
                        Marcel Kraus<br/>
                        krausgedruckt<br/>
                        Bonner Straße 88<br/>
                        50374 Erftstadt
                    </p>
                    <p>
                        Umsatzsteuer Identifikationsnummer (USt-ID): DE225346678
                    </p>
                    <p>
                        E-Mail: <a href="{{ path('app_contact_email') }}">hallo (at) krausgedruckt (punkt) de</a><br/>
                        Telefon: Erstkontakt bitte <a href="{{ path('app_contact') }}">per Kontaktformular</a>, <a href="{{ path('app_contact_email') }}">E-Mail</a> oder <a href="{{ path('app_contact_whats_app') }}">WhatsApp</a>
                    </p>
                    <h3>Bildnachweise</h3>
                    <p>Die Bilder der 3D-Drucker (Original Prusa MK4S, Original Prusa CORE One) sind von der Firma <a href="https://www.prusa3d.com/de/page/media-ressourcen_987/">Prusa Research</a>.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
