{% extends 'base.html.twig' %}

{% block title %}
    Referenzen &middot; {{  parent() }}
{% endblock %}

{% block main %}
    <section class="bg-background-secondary">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <div class="mx-auto max-w-2xl lg:max-w-4xl">
                <h2 class="mb-8 text-4xl font-semibold text-brand-primary lg:mb-12">
                    Meine Referenzen.<br/>
                    <span class="text-brand-secondary">Ein kleiner Einblick in meine bunte Welt.</span>
                </h2>
                {% for reference in references %}
                    <article>
                        <h3 class="font-semibold mt-1 text-brand-primary text-xl">
                            {{  reference.title }}
                            <br/><span class="text-brand-secondary">{{ reference.createdAt | date('d.m.Y') }}</span>
                        </h3>
                        {% if reference.imagePath %}
                            <img class="mt-4 border-8 border-white rounded-2xl shadow-xl" src="{{ reference.imagePath }}" alt="Foto des Modells „{{ reference.source.title }}“">
                        {% endif %}
                        <div class="mt-4 prose prose-orange prose-a:no-underline hover:prose-a:underline prose-a:text-brand-primary prose-a:font-normal max-w-none">
                            {{ reference.description | markdown_to_html }}
                        </div>
                        {% if reference.source %}
                            <div class="mt-8">
                                {% include '_model.html.twig' with { 'model': reference.source } %}
                            </div>
                        {% endif %}
                    </article>
                    {% if not loop.last %}
                        <hr class="border-brand-secondary border-dashed my-12" />
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
