{% extends 'base.html.twig' %}

{% block title %}
    Referenzen | {{  parent() }}
{% endblock %}

{% block main %}
    <section class="bg-background-secondary">
        <div class="container mx-auto px-8 py-16 lg:py-24">
            <div class="mx-auto max-w-2xl lg:max-w-4xl">
                <h2 class="mb-16 text-4xl font-semibold text-brand-primary lg:mb-24">
                    Meine Referenzen.<br/>
                    <span class="text-brand-secondary">Ein kleiner Einblick in meine bunte Welt.</span>
                </h2>
                {% for reference in references %}
                    <article class="flex flex-col gap-8 lg:flex-row">
                        <div class="flex flex-col items-center">
                            {% for filename in reference.images %}
                                <img class="-mt-16 border-8 border-background-secondary first:mt-0 lg:max-w-[16rem] max-w-[12rem] rounded-full" src="/images/references/{{ reference.id }}/{{ filename }}" alt="Foto des Modells „{{ reference.title }}""">
                            {% endfor %}
                        </div>
                        <div>
                            <div class="group max-w-xl relative">
                                <h3 class="font-semibold mt-1 text-brand-primary text-xl">{{  reference.title }}</h3>
                                <div class="mt-4">
                                    {{ reference.description | nl2br }}
                                </div>
                            </div>
                            {% if reference.source %}
                                <div class="mt-8">
                                    {% include '_model.html.twig' with { 'model': reference.source } %}
                                </div>
                            {% endif %}
                        </div>
                    </article>
                    {% if not loop.last %}
                        <hr class="border-brand-secondary border-dashed my-16" />
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
